@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

/* COLORS */

:root {
    --text-colors: #2C2C2C;
    --h1-colors: #E8C6A3;
    --alt-title-colors: #fefefe;
    --alt-text-colors: #E8C6A3;
    --background: #F8FCF8;
    --background2: #FEFEFE;
    --icon-color: #7fb069;
    --bg-cards: #fefefe;


    --text-button: #fefefe;
    --alt-text-button: #7fb069;
    --alt-text-hover-button: #fefefec9;
    --bg-button: #7fb069;
    --alt-bg-button: #fefefe;
    --bg-hover-button: #7fb069ce;
    /* Text */
    --text-green: #7fb069;
    /* Border */
    --borders: #E8C6A3;
    /* Background */
    --bg-green: #F8FCF8;
    /* beige background opacity */
    --bg-beige-opacity06: rgba(245, 240, 232, 0.06);
    --bg-beige-opacity20: rgba(245, 240, 232, 0.20);
    --bg-beige-opacity50: rgba(245, 240, 232, 0.50);
    --bg-beige-opacity100: rgba(245, 240, 232, 1);
    /* White background opacity */
    --bg-white-opacity20: rgba(254, 254, 254, 0.2);
    --bg-white-opacity100: rgba(254, 254, 254, 1);
    /* gradient */
    --bg-color-green: #7fb069;
    --bg-dark-green: #5a8a4a;
    --bg-color-proyects: #E8C6A3;
    --bg-dark-proyects: #D4B491;
}

/* global styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;

}

html {
    scroll-behavior: smooth;
}

.container-width {
    max-width: 1200px;
    margin: 0 auto;
}



/* Font Size */

a,
button {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Source Sans 3', sans-serif;
}

h1,
h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-green);
    font-family: 'Playfair Display', serif;

}

h2 {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Source Sans 3', sans-serif;
}


p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.01em;
    text-wrap: balance;
    font-family: 'Source Sans 3', sans-serif;
}


/* Responsive Fonts */

@media (min-width: 640px) {

    a,
    button {
        font-size: 0.875rem;
    }

    p {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* Hover Cards */

.animation-card {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.04) !important;
}