@import "tailwindcss";
@import "flowbite/src/themes/default";
/* stylelint-disable-next-line at-rule-no-unknown */
@plugin "flowbite/plugin";

/* stylelint-disable-next-line at-rule-no-unknown */
@source "../../node_modules/flowbite";

/* COLORS */

:root {
    --sub-colors: #2C2C2C;

}

/* global styles */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}


.main-container {
    padding-top: 200px;
    max-width: 1536px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #F8FDF8;
}

/* Font Size */

a,
button {
    font-size: 1rem;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-size: 2.25rem;
    font-weight: 700;
}


p {
    font-size: 1rem;
    font-weight: 300;
}


/* Responsive Fonts */

@media (min-width: 640px) {

    a,
    button {
        font-size: 0.875rem;
    }

    h1,
    h2,
    h3 {
        font-size: 1.5rem;
    }
}