---
import { content } from '~/data/0-HeroSection';
---

<div class='container'>
  <div class='circles'></div>
  <div class='container-width z-1'>
    <h1 class='fade-up'>{content[0].title}</h1>
    <p class='fade-up-delay-1'>{content[0].subtitle}</p>
  </div>
  <button
    type='button'
    class='fade-up focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 z-[1]'
    >Servicios</button
  >
</div>

<style>
  @reference 'tailwindcss';

  .container {
    @apply min-h-[calc(100vh-15rem)] min-w-full flex flex-col text-center justify-center items-center relative;
    @apply py-[160px] px-8 2xl:px-0 gap-20;
    @apply bg-gradient-to-b from-[var(--background2)] to-[var(--background)];
  }

  .circles {
    @apply absolute w-[200px] h-[200px] top-[20%] left-[20%] translate-x-[-50%] translate-y-[-50%] bg-[var(--icon-color)] rounded-full opacity-30 z-[0];
  }

  h1 {
    @apply text-balance;
  }
  button {
    @apply w-[200px] cursor-pointer text-lg font-bold;
  }
</style>
