---
import { content } from '~/data/0-HeroSection';
---

<div class='container'>
  <div class='circles fade-up-half'></div>
  <div class='stagger-fadeup container-width'>
    <h1>{content[0].title}</h1>
    <h2>{content[0].subtitle}</h2>
  </div>
  <a
    href='#servicios'
    type='button'
    class='fade-up button'
    >Servicios</a
  >
</div>

<style>
  @reference 'tailwindcss';

  .container {
    @apply min-h-[calc(100vh-15rem)] min-w-full flex flex-col text-center justify-center items-center relative;
    @apply py-[160px] px-8 2xl:px-0 gap-20;
    @apply bg-gradient-to-b from-[var(--background2)] to-[var(--background)];
  }

  .circles {
    @apply absolute w-[200px] h-[200px] top-[20%] left-[20%] translate-x-[-50%] translate-y-[-50%] bg-[var(--icon-color)] rounded-full opacity-30 z-[0];
  }

  h1 {
    @apply text-balance;
  }
  .button {
    @apply w-full lg:w-[180px] cursor-pointer  font-bold text-lg z-[1];
    @apply focus:outline-none text-[var(--text-button)] bg-[var(--bg-button)] hover:bg-[var(--bg-hover-button)] font-medium rounded-full  px-5 py-2;
  }
</style>
