---
import { content } from '~/data/1-Section';
---

<div class='background'>
  <div class='container container-width'>
    <img
      data-aos='fade-right'
      data-aos-delay='200'
      src={content[0].image}
      alt='imagen'
      class='image-style'
    />

    <div class='container-right'>
      <div class='text-container-right border-r-8 pr-3 border-[var(--borders)]'>
        <h1
          data-aos='fade-left'
          data-aos-delay='200'
        >
          {content[0].title}
        </h1>
        <h2
          data-aos='fade-left'
          data-aos-delay='400'
        >
          {content[0].subtitle}
        </h2>
      </div>

      <!-- <img
        src={content[0].image2}
        alt='imagen'
        class='image-style-right'
      /> -->
    </div>
  </div>
</div>

<style>
  @reference 'tailwindcss';

  .background {
    @apply bg-[var(--background2)];
  }

  .container {
    @apply grid grid-rows-[auto_1fr] lg:grid-cols-[auto_1fr] lg:grid-rows-[1fr];
    @apply min-h-[calc(100vh-15rem)];
    @apply pb-20 lg:py-[160px] px-[20px] 2xl:px-0 gap-20;
  }

  .cols-start {
    @apply col-start-2;
  }

  /* IMAGE */
  .image-style {
    @apply min-w-[200px] w-[400px] max-h-[650px] h-full  rounded-md;
    @apply object-center object-cover;
    @apply shadow-[2px_2px_8px_0_rgba(0,0,0,0.1)];
    @apply order-2 lg:order-1;
  }

  /* CONTAINER RIGHT */
  .container-right {
    @apply flex flex-col w-full h-full;
    @apply justify-between;
    @apply gap-10;
    @apply order-1 lg:order-2;
  }

  .text-container-right {
    @apply w-full text-right;
  }

  .image-container-right {
    @apply w-full h-auto flex;
  }

  .image-style-right {
    @apply w-full h-[250px] flex object-cover object-center rounded-md;
    @apply shadow-[0_0_10px_0_rgba(0,0,0,0.3)];
  }
</style>
