---
const {
  title = 'Conocenos',
  subtitle = 'Las preguntas más frecuentes sobre nuestros servicios',
  faqs: faqList = [],
} = Astro.props;
---

<div
  class='background'
  id='servicios'
>
  <div class='container container-width'>
    <div class='stagger-fadeup z-1 border-l-8 pl-3 border-[var(--borders)]'>
      <h1
        data-aos='fade-right'
        data-aos-delay='200'
      >
        {title}
      </h1>
      <h2
        data-aos='fade-right'
        data-aos-delay='400'
      >
        {subtitle}
      </h2>
    </div>

    <div
      id='accordion-collapse'
      data-accordion='collapse'
      class='rounded-md'
    >
      {
        // @ts-ignore
        faqList.map((faq, index) => (
          <>
            <h2 id={`accordion-collapse-heading-${index + 1}`}>
              <button
                type='button'
                class={`button-accordion ${index === 0 ? 'border-top-1' : ''} ${index === faqList.length - 1 ? 'border-bottom-3' : 'border-bottom-1'}`}
                data-accordion-target={`#accordion-collapse-body-${index + 1}`}
                aria-expanded={index === 0 ? 'true' : 'false'}
                aria-controls={`accordion-collapse-body-${index + 1}`}
              >
                <h1 class='button-title'>{faq.question}</h1>
                <svg
                  data-accordion-icon
                  class='arrow-icon'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='none'
                  viewBox='0 0 10 6'
                >
                  <path
                    stroke='#fefefe'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    stroke-width='2'
                    d='M9 5 5 1 1 5'
                  />
                </svg>
              </button>
            </h2>
            <div
              id={`accordion-collapse-body-${index + 1}`}
              class={`accordion-body ${index === 0 ? '' : 'hidden'}`}
              aria-labelledby={`accordion-collapse-heading-${index + 1}`}
            >
              <div
                class={`main-content ${index === faqList.length - 1 ? 'main-content-3' : 'main-content-1'}`}
              >
                <p class='main-content-title'>{faq.answer}</p>
              </div>
            </div>
          </>
        ))
      }
    </div>

    <style>
      @reference 'tailwindcss';

      :root {
        --bg-button-accordion: #f8ede2e3;

        --text-main-content: #2c2c2c;
        --bg-main-content: #fefefe;
        --icon-color: #0f555a;
      }
      .background {
        @apply bg-[var(--background2)];
      }
      .container {
        @apply min-h-[calc(100vh-15rem)] flex flex-col;
        @apply py-20 lg:py-[160px] px-4 xl:px-0 gap-20;
      }

      h1 {
        @apply text-balance;
      }

      .button-accordion {
        @apply flex items-center justify-between w-full p-5 border-1 border-[var(--borders)]  gap-3;
        @apply text-[var(--alt-text-colors)] hover:bg-[var(--bg-button-accordion)] dark:bg-[var(--bg-main-content)];
        @apply transition-all duration-300 ease-in-out;
        @apply cursor-pointer;
      }

      .button-title {
        @apply text-2xl;
      }

      .border-bottom-1,
      .border-bottom-2 {
        @apply border-b-0;
      }
      .border-bottom-3 {
        @apply rounded-b-md border-1;
      }

      .border-bottom-3[aria-expanded='true'] {
        @apply rounded-b-none;
      }

      .border-top-1 {
        @apply rounded-t-md;
      }

      .accordion-body {
        @apply transition-all duration-300 ease-in-out;
      }

      .main-content {
        @apply border-1 p-5;

        @apply bg-[var(--bg-main-content)] text-[var(--text-main-content)];
      }

      .main-content-1,
      .main-content-2 {
        @apply border-b-0 border-[var(--borders)];
      }

      .main-content-3 {
        @apply border-t-0 rounded-b-md border-[var(--borders)];
      }

      .main-content-title {
        @apply mb-2 text-pretty;
      }

      .arrow-icon {
        @apply size-7 flex items-center justify-center shrink-0;
        @apply bg-[var(--icon-color)];
        @apply rounded-full p-2;
        @apply transition-transform duration-300 ease-in-out;
      }
    </style>
  </div>
</div>
