---
import { content } from '~/data/Catalogo';
---

<div class='bg-catalogo'>
  <div
    class='container-width flex gap-10 justify-center lg:flex-row flex-col px-8 lg:px-0'
  >
    <div
      class='container-left animation-card'
      data-aos='fade-right'
      data-aos-delay='200'
    >
      <h1>{content[0].title}</h1>
      <h2>{content[0].subtitle}</h2>

      <a
        href='/catalogo.pdf'
        class='button'
        >Descargar Catalogo</a
      >
    </div>
    <div
      class='container-right animation-card'
      data-aos='fade-left'
      data-aos-delay='200'
    >
      <h1>{content[0].title}</h1>
      <h2>{content[0].subtitle}</h2>

      <a
        href='/proyectos'
        class='button'
        >Ver Proyectos</a
      >
    </div>
  </div>
</div>

<style>
  @reference 'tailwindcss';

  .bg-catalogo {
    @apply flex justify-center items-center  bg-[var(--bg-beige-opacity50)] py-20 lg:py-[160px];
  }
  .container-left {
    @apply bg-gradient-to-br from-[var(--bg-color-green)] to-[var(--bg-dark-green)] flex flex-col justify-center items-center rounded-md gap-4 p-10;
  }
  .container-right {
    @apply bg-gradient-to-br from-[var(--bg-color-proyects)] to-[var(--bg-dark-proyects)] flex flex-col justify-center items-center rounded-md gap-4 p-10;
  }

  .container-left,
  .container-right {
    @apply min-h-[400px] max-h-[400px] w-full lg:max-w-[400px] text-center;
  }

  h1 {
    @apply text-[var(--alt-title-colors)] text-xl;
  }
  h2 {
    @apply text-[var(--alt-title-colors)] text-sm;
  }
  .button {
    @apply w-full lg:w-[200px] lg:h-[50px] cursor-pointer  font-bold  text-sm z-[1] flex items-center justify-center;
    @apply border-1 border-[var(--bg-white-opacity100)] text-[var(--text-button)] bg-[var(--bg-white-opacity20)] rounded-full  px-5 py-2;
    @apply transition-all ease-in-out duration-500;
  }

  .button:hover,
  .button:focus {
    @apply bg-[var(--bg-white-opacity100)] text-[var(--text-colors)] border-none;
  }
</style>
