---
import { content } from '~/data/Catalogo';
---

<div class='container'>
  <div class='stagger-fadeup container-width'>
    <h1>{content[0].title}</h1>
    <h2>{content[0].subtitle}</h2>
  </div>
  <a
    href='/catalogo.pdf'
    class='fade-up button'
    >Catalogo</a
  >
</div>

<style>
  @reference 'tailwindcss';

  .container {
    @apply min-h-[calc(100vh-15rem)] min-w-full flex flex-col text-center justify-center items-center relative;
    @apply py-[160px] px-8 2xl:px-0 gap-20;
    @apply bg-[var(--icon-color)];
  }

  h1,
  h2 {
    @apply text-balance text-[var(--alt-title-colors)];
  }
  .button {
    @apply w-full lg:w-[400px] lg:h-[100px] cursor-pointer  font-bold  text-4xl z-[1] flex items-center justify-center;
    @apply focus:outline-none text-[var(--alt-text-button)] bg-[var(--alt-bg-button)] hover:bg-[var(--alt-text-hover-button)] rounded-md  px-5 py-2;
  }
</style>
