---
import { socialData } from '~/data/socialData.js';
---

<footer>
  <div class='min-h-full w-full container-width flex flex-col'>
    <div class='flex justify-end gap-10 lg:flex-row flex-col'>
      <div class='flex flex-col text-right gap-2'>
        <h1>Contáctanos</h1>
        <a>info@creamorgreen.cl</a>
        <a>+56 9 1234 5678</a>
      </div>
      <div class='flex flex-col text-right gap-2'>
        <h1>Empresa</h1>
        <a href='/proyectos'>Proyectos</a>
        <a href='/catalogo'>Catalogo</a>
      </div>
      <div class='flex flex-col text-right gap-2'>
        <h1>Redes Sociales</h1>
        {
          socialData.map(social => (
            <a
              href={social.url}
              target='_blank'
            >
              {social.name}
            </a>
          ))
        }
      </div>
    </div>
    <div class='flex h-full items-end justify-center mt-10'>
      <p>© 2025 Creamor Green. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
<style>
  @reference 'tailwindcss';

  footer {
    @apply min-h-[300px] w-full bg-gradient-to-br from-[#0F555A] via-[#0A4045] to-[#052B30] p-8 flex;
  }

  h1 {
    @apply text-[var(--alt-title-colors)]
    text-xl;
  }
  p,
  a {
    @apply text-[var(--alt-title-colors)];
    @apply text-sm transition-colors duration-200 ease-in-out cursor-pointer;
  }

  a {
    @apply hover:text-[var(--bg-beige-opacity50)];
  }
</style>
