---
import { Image } from 'astro:assets';
import { socialData } from '~/data/socialData.js';
---

<button
  class='whatsappIcon fixed z-20 right-15 bottom-15 flex gap-3 lg:flex hidden'
  id='whatsapp'
>
  <!-- <a
    href='https://wa.me/957242744'
    target='_blank'
    class='w-[130px] h-auto bg-white text-gray-900 shadow-2xl flex-col justify-center items-end rounded-lg px-1 py-1 hover:scale-[1.1] hover:transform transition-all hidden lg:flex'
  >
    <p class='font-light text-sm'>¿Necesitas ayuda?</p>
    <p class='font-extrabold text-sm'>¡Contáctanos!</p>
  </a> -->
  <a
    target='_blank'
    href={socialData[1].url}
    class='flex justify-center items-center'
  >
    <Image
      src='/whatsapp.svg'
      alt='whatsapp'
      width={50}
      height={50}
      class='hover:brightness-110 hover:transform transition-all duration-500 ease-in-out hover:translate-y-[-5px]'
    />
  </a>
</button>
<style>
  @reference 'tailwindcss';

  p {
    @apply font-light text-sm;
  }
</style>
